.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
}
.navigation {
  display: flex;
  gap: 31px;
  list-style: circle;
  text-underline-offset: 5px;
}
.text-nav {
  justify-self: start;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
}
.navigation li:nth-child(3) {
  margin-left: 4px;
}

.logo-black img {
  width: 148px;
  height: 105px;
  transform: translateY(5px);
}
.logo-black {
  display: block;
  justify-self: center;
}
.navigation li:first-child {
  list-style: none;
}
.address-block_header {
  justify-self: end;
  width: 240px;
}
.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
h1 {
  position: relative;
  z-index: 1;
  color: aliceblue;
}
.description {
  display: flex;
  z-index: 1;
  color: aliceblue;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  bottom: 50px;
  padding-top: 56px;
  align-items: center;
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-cover {
  display: block;
  margin-top: 20px;
}
.title-cover {
  padding: 165px 50px 50px;
  letter-spacing: 0.3em;
  font-size: 100px;
  text-transform: uppercase;
  margin: 0;
  line-height: 115px;
}
.del-spaces {
  letter-spacing: 0;
}
.text-auction {
  font-size: 22px;
  word-spacing: 18.7px;
}
.button-cover {
  display: inline-block;
  border: 1px solid;
  font-size: 22px;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 31px;
  padding-right: 32px;
}
.lots {
  padding-top: 180px;
}
.lots-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding-left: 24px;
  padding-right: 24px;
}
.lots_card-list {
  width: 334px;
  min-height: 596px;
}
.card-link {
  height: 100%;
  text-decoration: none;
}
.card-lot {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  position: relative;
}
.card-title {
  text-decoration: underline;
  color: aliceblue;
  z-index: 1;
  font-size: 22px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  text-transform: uppercase;
}
.card-text {
  color: aliceblue;
  z-index: 1;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
}
.card-lot_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card-lot_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card-lot_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}
.section-title {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 27px;
  padding-left: 64px;
}
.view-more {
  display: inline-block;
  margin-top: 30px;
  margin-left: 64px;
  font-size: 20px;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-top: 120px;
  column-gap: 25px;
  padding: 0 24px;
}

.logo-about {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
  margin-top: 35px;
}
.list-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  margin: 0px;
  width: 693px;
  margin-top: 75px;
  padding-right: 3px;
}

.img-white {
  width: 148px;
  height: 114px;
}
.header-about {
  padding-left: 0px;
  font-size: 40px;
  margin: 0;
  padding-top: 34px;
}
.content-about {
  padding-top: 100px;
}
.footer-end {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding-top: 180.5px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 48px;
  justify-self: end;
}
.footer-logo {
  width: 48px;
  height: 48px;
}
.text-nav-address {
  text-align: center;
  justify-self: center;
  font-size: 18px;
}
.del-marker {
  list-style: none;
}
.no-underline {
  text-decoration: none;
}
.address-block_footer {
  justify-self: start;
}
.address-block {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-underline-offset: 4px;
  align-items: flex-start;
}
